node_modules
dist
dist-ssr
.npm-cache
*.local
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
*.log

.gradle
android/.gradle
android/app/build
android/build
android/local.properties
*.jks
*.keystore
*.p12
*.pem
*.key

android-sdk/
tools/
